.header {
  .container {
    display: flex;
    justify-content: space-between;
  }
  background-color: var(--primary-color);
  height: var(--header-height);
}

.navigation {
  display: flex;
  justify-content: space-around;
  width: min(100%, 600px);
}

.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.naviagtion__link {
  font-size: 1.7rem;
  color: antiquewhite;
}
