.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background-color: #000000b4;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.modal__content {
  display: flex;
  width: 90%;
  max-width: 1200px;
  background-color: rgb(255, 255, 255);
}

.modal__image {
  position: relative;
  flex: 1 0 70%;
  padding-bottom: 70%;
  background-position: center;
  background-size: cover;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all linear 0.2s;
  }
}

.modal-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  opacity: 0.5;
  transition: opacity linear 0.3s;
  &:hover {
    opacity: 1;
  }
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }
}

.modal__prev,
.modal__next {
  cursor: pointer;

  width: 40px;
  height: 40px;
  position: relative;
  opacity: 0.6;
  transition: opacity linear 0.3s;
  &:hover {
    opacity: 1;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 35%;
    right: 33%;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
  }
  &::before {
    content: '';
    top: -35%;
    transform: rotate(-45deg);
  }
}

.modal__prev {
  transform: rotate(180deg);
}

.modal-button {
  background-color: transparent;
  border: none;
  &:disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.modal__info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.modal__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20%;
}

.modal__filling {
  font-size: 2rem;
  margin-bottom: 20%;
  li {
    list-style: inside;
    &:first-child {
      font-weight: 600;
      list-style: none;
    }
  }
}

.modal__weight {
  font-size: 2rem;
}
.modal__size {
  font-size: 2rem;
}

.modal__sequence {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: -webkit-fill-available;
}
