* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: rgb(7, 0, 37);
  // display: flex
}
.parent {
  background-color: rgb(128, 229, 178);
  height: 300px;
  width: clamp(300px, 70%, 1000px);
  p {
    font-size: clamp(16px, (20px + 5vw), 100px);
  }
}
.parent_box {
}
